/* Style sheet used for the portlet page
 */
 
.portletPageLeftColumn {
    float: left;
    width: 48%;
}

.portletPageRightColumn {
    float: right;
    width: 48%;
}

#portletPageColumns dl.portlet {
	font-size: 100%;
}

#portletPageBottomRow {
	clear: both;
}

/* Fixes for Sunburst and http://dev.plone.org/plone/ticket/11840  */
#portletPageColumns dd.portletItem,
#portletPageColumns dd.portletFooter {
    margin: 0;
}