/* Style sheet used for the portlet page
 */
 
#portletPageFirstColumn {
    width: 48%;
}

#portletPageSecondColumn {
    float: right;
    width: 48%;
}

#portletPageColumns dl.portlet {
	font-size: 100%;
}
